# 1

In [6]:
import pandas as pd

In [ ]:
s = pd.Series([1,23,2],index=[0,'b','c'])
s
# s2 = pd.Series([1,213,2],index=['aa','b','c'])b

0     1
b    23
c     2
dtype: int64

In [51]:
print(s.index.dtype)
print(type(s.index[0]))
print(type(s.index[1]))
print(hex(id(s.index[1])))

object
<class 'int'>
<class 'str'>
0x7ff99f7b1100

In [20]:
df = pd.DataFrame({'Value': s, 'Value2': s2})
df

    Value  Value2
a     1.0     NaN
aa    NaN     1.0
b    23.0   213.0
c     2.0     2.0

In [38]:
df["Value"]['a']

1.0

In [ ]:
df.iloc[0,0]

1.0

In [42]:
df.loc['a','Value']

1.0

In [33]:
a = df.loc["b",:]
a

Value      23.0
Value2    213.0
Name: b, dtype: float64

In [35]:
# a[0]
# a[1]
# a.index
a.idxmax()

'Value2'

In [26]:

df.loc[:,"Value"]
# print(type(df.loc["a",:]))
# print(type(df.loc[:,"Value"]))

a      1.0
aa     NaN
b     23.0
c      2.0
Name: Value, dtype: float64